@import url("https://fonts.cdnfonts.com/css/uni-sans-regular");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Uni Sans Regular", sans-serif;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow-x: hidden;
  color: #fff;
}
canvas {
  background-color: #000;
  position: absolute;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

hr {
  margin: auto !important;
  opacity: 1;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  position: fixed;
  width: 100%;
  padding: 15px 80px;
  z-index: 100;
  backdrop-filter: blur(3px);
  font-family: "Uni Sans Regular", sans-serif;
}

#home {
  position: relative;
  padding: 200px 100px;
  font-family: "Uni Sans Regular", sans-serif;
}

#about {
  position: relative;
  padding: 0;
  padding-top: 150px;
}

#projects {
  position: relative;
  padding: 150px 80px;
  width: 100%;
}

#contact {
  position: relative;
  padding: 10px 80px;
  width: 100%;
}

.contact {
  width: 100%;
}

.contact-text {
  width: 100%;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.nav-links .link {
  position: relative;
  text-decoration: none;
  color: #fff;
}

.nav-links a:hover {
  color: #fff;
}

.nav-links a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: #39ff14;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.nav-links :hover::before {
  transform: scaleX(1);
}

.heading h1 {
  font-size: 90px;
  font-weight: 700;
  margin: 0;
}

.yellow {
  color: #39ff14;
}

.about {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.about hr {
  width: 50%;
}

.title {
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

.col1 {
  flex: 1;
  padding: 0 50px;
}

.col1 h2 {
  text-align: center;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .col1 {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 480px) {
  .col1 {
    flex-basis: 100%;
  }
}

.profile-pic {
  padding: 35px;
  text-align: center;
}

.pic {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 5px solid #39ff14;
  box-shadow: 5px 10px 40px -10px #39ff14;
}

.icons {
  padding: 5px;
}

.icon {
  font-size: 20px;
  color: #39ff14;
}

.skillset {
  padding: 5px 10px;
}

.skillset h4 {
  margin: 0;
  padding: 6px;
}

.skillset hr {
  margin-top: 30px !important;
  margin-bottom: 25px !important;
}

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 15px;
  width: 100%;
}

.progress-value1 {
  animation: load1 5s normal forwards;
  box-shadow: 0 10px 40px -10px #39ff14;
  border-radius: 100px;
  background: #39ff14;
  height: 15px;
  width: 0;
}
.progress-value2 {
  animation: load2 5s normal forwards;
  box-shadow: 0 10px 40px -10px #39ff14;
  border-radius: 100px;
  background: #39ff14;
  height: 15px;
  width: 0;
}
.progress-value3 {
  animation: load3 5s normal forwards;
  box-shadow: 0 10px 40px -10px #39ff14;
  border-radius: 100px;
  background: #39ff14;
  height: 15px;
  width: 0;
}

@keyframes load1 {
  0% {
    width: 0;
  }
  100% {
    width: 89%;
  }
}
@keyframes load2 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes load3 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

/* CSS */
.button-48 {
  appearance: none;
  background-color: #39ff14;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 15px 35px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ebebeb;
  border-radius: 30px;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #fff;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.card {
  background-color: #39ff14;
  border-width: 2.5px;
  border-color: #39ff14;
  box-shadow: 5px 10px 35px -10px #39ff14;
}

.card-body {
  background-color: #000;
}

.card-title {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}

.btn {
  background-color: #39ff14;
  border-color: #424242;
  border-width: 0.5px;
  color: #000;
  font-weight: 600;
}

.btn:hover {
  background-color: #424242;
  border-color: #39ff14;
  border-width: 0.5px;
  color: #39ff14;
  font-weight: 600;
}

.card-git {
  padding: 10% 5%;
}

input {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  border: 4px solid #424242;
  color: #fff;
  outline: none;
  padding: 6px 2px;
  margin: 12px 0;
  width: 80%;
}

textarea {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  border: 4px solid #424242;
  color: #fff;
  outline: none;
  padding: 6px 2px;
  margin: 5px 0;
  width: 80%;
}

.button {
  appearance: none;
  background-color: #39ff14;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 15px 35px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:hover {
  background-color: #424242;
  color: #39ff14;
  border-color: #39ff14;
  border-width: 2px;
}

.contact {
  text-align: center;
  padding: 0 50px;
}

.socials {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-icons {
  padding: 0 10px 30px 10px;
}

.socials-icons:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.contact-text {
  padding: 0 300px;
}

footer {
  position: relative;
  padding: 100px 80px 20px 80px;
  text-align: center;
}
